<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header(${'Places of interest'})">
    <style>
        #poiMap{
            height: 350px;
            width: 550px;
            border-color: black;
        }
    </style>
</head>
<body>

<div id="poiMap"></div>

<div th:replace="partials/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2l-5CY-2Ds6dIyc8doaPHImwacbive3A"></script>
<script>


//building the map
   var mapOptions = {
       zoom: 12,
       center: {
           lat:  49.10,
           lng: -123.11934
       },
       mapTypeId: google.maps.MapTypeId.TERRAIN
   };
   var mapCanvas = document.getElementById('poiMap');
   var map = new google.maps.Map(mapCanvas, mapOptions);

//setting the main marker ...should be the user destination
   marker = new google.maps.Marker({
       position: {
           lat:  49.10,
           lng: -123.11934
       },
       map: map
   });





// function to get a marker for each poi on the JSON
   function poiToMarker( data,category)
   {
       for (var i = 0; i < data.points_of_interest.length; i++) {
           if(!data.points_of_interest[i].categories.length==0
           &&myCategory(data.points_of_interest[i].categories,category)==1)
           {
               marker = new google.maps.Marker({
                   position: {
                       lat: data.points_of_interest[i].location.latitude,
                       lng: data.points_of_interest[i].location.longitude
                   },
                   map: map
               });

           }
           //some poi don't have any category
           else {
               marker = new google.maps.Marker({
                   position: {
                       lat: data.points_of_interest[i].location.latitude,
                       lng: data.points_of_interest[i].location.longitude
                   },
                   map: map
               });
           }
       }
   }

   function myCategory(categories,category) {
       var isCategory=-1
       for (var i=0;i<categories.length;i++){
           if (categories[i].indexOf(category) >= 0);
           {
               isCategory=1;
           }
       }
       return isCategory;
   }


//calling the function to set the poi markers on the map
//     poiToMarker($poi);

    var categoria='';

// obtain the Poi JSON
   $.get('https://api.sandbox.amadeus.com/v1.2/points-of-interest/yapq-search-circle?',
        {
        dataType : 'json',
        // apikey: '8XVJrEZAxpKF0vkSXh9HGpKGVAxVEGhD',
        // apikey:'v6aAEJ4TnGgvIJhW6cKrX7wW0hCVwsfy',
        apikey:'5IomxX3j0OOD87Um4X9aTZdAgnttyJG0',
        latitude:'49.10',
        longitude:'-123.11934',
        radius:'10'
    }).done(function(data)
    {   console.log(data);
        poiToMarker(data,categoria);
    });








</script>

</body>
</html>