#city { width: 25em; }

#travel-bg{

    background-image: url("https://images.pexels.com/photos/59519/pexels-photo-59519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    opacity: 0.9;





}
.mod-fom{
    position: absolute;
    top: 30px;
    right: 60px;

}

#poiMap{
    height: 350px;
    width: 550px;
    border-color: black;
}
#hotel-map{
    height: 350px;
    width: 550px;
    border-color: black;
}


.logo2{
    width: 20vh;
    height: 10vh;

}

.subbtn {
    background-color: #374B55;
    border: none;
}

.hidden {
    display: none;
}

.group{
    margin: 2%;
}
.bg-image{
    background-image: url("https://images.pexels.com/photos/210307/pexels-photo-210307.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=500");
    height: 100%;
    width: 100%;
}
.padd{
    padding-top: 7%;
}

