<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<body>





<div class="container">

    <h1>Welcome to Viatorem! Where should we go?</h1>
    <form>
        <div class="form-group">
            <label for="origin">Select Origin</label>
            <input type="text" class="form-control" id="origin" aria-describedby="emailHelp" placeholder="Choose a starting location" />
            <label for="destination">Select Destination</label>
            <input type="text" class="form-control" id="destination" placeholder="Choose an end point" />
        </div>
        <div class="form-group">
            <label for="origin">Departure Date</label>
            <input type="text" class="form-control" id="origin" aria-describedby="emailHelp" placeholder="Choose a starting location" />
            <label for="destination">Return Date</label>
            <input type="text" class="form-control" id="destination" placeholder="Choose an end point" />
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>





<div th:replace="partials/footer :: footer"></div>
</body>
</html>